#AgrD{
    margin-left: 305px;
}

#sailorTableArea{
    max-height: 300px;
    overflow-x: auto;
    overflow-y: auto;
}
#sailorTable{
    white-space: normal;
}
#empleados {
    display:block;
    height:200px;
    overflow:auto;
}
#titulo, #empleados tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
