#AgrD{
    margin-left: 250px;
}

#sailorTableArea{
    max-height: 300px;
    overflow-x: auto;
    overflow-y: auto;
}
#sailorTable{
    white-space: normal;
}
#empleados {
    display:block;
    height:200px;
    overflow:auto;
}
#titulo, #empleados tr {
    display:table;
    width:100%;
    table-layout:fixed;
}



#thT{
    background-color: teal;
    color: wheat; 
    border: 2px solid black;
    
}

#trT{
    max-width: fit-content;
    border: 1px solid black;
}